@keyframes ldio-yzaezf3dcmj {
    0% { transform: translate(12px,80px) scale(0); }
   25% { transform: translate(12px,80px) scale(0); }
   50% { transform: translate(12px,80px) scale(1); }
   75% { transform: translate(80px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(1); }
 }
 @keyframes ldio-yzaezf3dcmj-r {
    0% { transform: translate(148px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(0); }
 }
 @keyframes ldio-yzaezf3dcmj-c {
    0% { background: #e15b64 }
   25% { background: #abbd81 }
   50% { background: #f8b26a }
   75% { background: #f47e60 }
  100% { background: #e15b64 }
 }


.Spinner{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

 .ldio-yzaezf3dcmj div {
   position: absolute;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   transform: translate(80px,80px) scale(1);
   background: #e15b64;
   animation: ldio-yzaezf3dcmj 3.0303030303030303s infinite cubic-bezier(0,0.5,0.5,1);
 }
 .ldio-yzaezf3dcmj div:nth-child(1) {
   background: #f47e60;
   transform: translate(148px,80px) scale(1);
   animation: ldio-yzaezf3dcmj-r 0.7575757575757576s infinite cubic-bezier(0,0.5,0.5,1), ldio-yzaezf3dcmj-c 3.0303030303030303s infinite step-start;
 }.ldio-yzaezf3dcmj div:nth-child(2) {
   animation-delay: -0.7575757575757576s;
   background: #e15b64;
 }.ldio-yzaezf3dcmj div:nth-child(3) {
   animation-delay: -1.5151515151515151s;
   background: #f47e60;
 }.ldio-yzaezf3dcmj div:nth-child(4) {
   animation-delay: -2.2727272727272725s;
   background: #f8b26a;
 }.ldio-yzaezf3dcmj div:nth-child(5) {
   animation-delay: -3.0303030303030303s;
   background: #abbd81;
 }
 .loadingio-spinner-ellipsis-2by998twmg8 {
   margin: 0 auto;
   width: 200px;
   height: 200px;
   display: inline-block;
   overflow: hidden;
   background: #ffffff;
 }
 .ldio-yzaezf3dcmj {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(1);
   backface-visibility: hidden;
   transform-origin: 0 0; /* see note above */
 }
 .ldio-yzaezf3dcmj div { box-sizing: content-box; }
 /* [ldio] generated by https://loading.io */